[submodule "string_constant"]
	path = string_constant
	url = git@github.com:AI-Gruppe/gp_ptm_string_constant.git
[submodule "cmake_helpers"]
	path = cmake_helpers
	url = https://github.com/dominicpoeschko/cmake_helpers.git
